<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form action='/create/save' method="POST">
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>Category:</td>
        <td><select name="category">
          <option></option>
          <option>Restaurant</option>
            <option>Bar</option>
            <option>Coffee and Tea</option>
            <option>Gas</option>
            <option>Drugstore</option>
            <option>Hospital</option>
            <option>Shopping</option>
            </select></td>
      </tr>
      <tr>
        <td>Long:</td>
        <td><input type="text" name="long"></td>
      </tr>
      <tr>
        <td>Lat:</td>
        <td><input type="text" name="lat"></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="Save"></td>
      </tr>
    </table>
  </form>
</body>

</html>