<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p><input type="button" id="create" onclick="createNew()" name="create" value="Create New">
    <span></span>
    <input type="button" id="nearby" onclick="findNearBy()" name="nearby" value="Find Nearby">
    </p>
    <p>
        <table class="detail">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Longtitude</th>
                <th>Latitude</th>
                <th colspan="2"></th>
            </tr>
            <% for(var i=0;i<points.length;i++){ var uid='update'+i; var did='delete'+i;%>
                <tr>
                    <td>
                        <%= points[i].name %>
                    </td>
                    <td>
                        <%= points[i].category %>
                    </td>
                    <td>
                        <%= points[i].long %>
                    </td>
                    <td>
                        <%= points[i].lat %>
                    </td>
                    <td>
                        <input type="button" id="<%= uid %>" onclick="ButtonClick('update','<%= points[i]._id %>')" name="update" value="Update">
</td>
<td>
    <input type="button" id="<%= did %>" onclick="ButtonClick('delete','<%= points[i]._id %>')" name="delete" value="Delete">
</td>
</tr>
<% } %>
    </table>
    </p>    
       <script src="/javascripts/eventHandler.js"></script>
</body>

</html>