<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <table class="detail">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Longtitude</th>
            <th>Latitude</th>
        </tr>
        <% for(var i=0;i<locations.length;i++){ %>
            <tr>
                <td>
                    <%= locations[i].name %>
                </td>
                <td>
                    <%= locations[i].category %>
                </td>
                <td>
                    <%= locations[i].long %>
                </td>
                <td>
                    <%= locations[i].lat %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>