<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form action='/search/find' method="POST">
    <table>
      <tr>
        <td>Current Latitude:</td>
        <td><input type="text" id="latitude" name="latitude"></td>
      </tr>
      <tr>
        <td>Current Longitude:</td>
        <td><input type="text" id="longitude" name="longitude"></td>
      </tr>
      <tr>
        <td>Criteria:</td>
        <td><select name="category">
          <option>--Select Category--</option>
          <option>Restaurant</option>
            <option>Bar</option>
            <option>Coffee and Tea</option>
            <option>Gas</option>
            <option>Drugstore</option>
            <option>Hospital</option>
            <option>Shopping</option>
            </select>
        </td><td>
          <input type="text" placeholder="Keyword" name="locationname">
          <input type="submit" id="search" name="search" value="Search">
        </td>
      </tr>
    </table>
  </form>
  <script src="/javascripts/search.js"></script>
</body>

</html>