<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form action='/update/edit/?id=<%= location[0]._id %>' method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><select id="category" name="category"><option>Restaurant</option>
            <option value="Bar">Bar</option>
            <option value="Coffee and Tea">Coffee and Tea</option>
            <option value="Gas">Gas</option>
            <option value="Drugstore">Drugstore</option>
            <option value="Hospital">Hospital</option>
            <option value="Shopping">Shopping</option>
            </select></td>
            </tr>
            <tr>
                <td>Long:</td>
                <td><input id="long" type="text" name="long"></td>
            </tr>
            <tr>
                <td>Lat:</td>
                <td><input id="lat" type="text" name="lat"></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="Save"></td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    var placename = document.getElementById("name");
    var cat = document.getElementById("category");
    var lon = document.getElementById("long");
    var lat = document.getElementById("lat");
    placename.value = '<%= location[0].name %>';
    cat.value = '<%= location[0].category %>';
    lon.value = '<%= location[0].long %>';
    lat.value = '<%= location[0].lat %>';
</script>
</body>

</html>