body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.detail {
  width: 100%;
}
.detail,.detail th,.detail td {
  border: 1px solid black;
  border-collapse: collapse;
}
#delconfirmmsg{
  color: red;
}
select{
  width: 100%;
}